html, body {
  margin: 10;
  padding: 0;
  background-image: url("pictures\\BackGround.jpg");
}

canvas {
  display: block;
  margin: 3% auto;
}

div{
  display: inline;
  color: #ffffff;
}

input{
  width: 50px;
  display: inline;
  margin:  1.5%;
}

.btn{
  margin: 0 1.5%;
}

#init_grid_div{
  display: none;
}

#frame_rate{
  width: 150px;
  -webkit-appearance: none;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  border-radius: 15px;
}
#frame_rate:hover{
  opacity: 1;
}
#frame_rate::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: #6d0088;
  border-radius: 15px;
}